<html>
  <body>
    <%= stylesheet_link_tag 'w3' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="w3-main" style="margin-left:350px;margin-right:40px">
      <div>
        <h2 class="text-center">ENADE</h2>
        <h4 class="text-center">Lista de performance no ENADE</h4>
      </div>
      <div>
        <%= form_for_filterrific @filterrific do |f| %>
          Busca por Faculdade
          <%= f.text_field( :busca_faculdade, class: 'filterrific-periodically-observed' ) %>
        </div>
        <div>
          Busca por Curso
          <%= f.select( :busca_curso, @filterrific.select_options[:busca_curso], { include_blank: '- Qualquer -' } ) %>
        </div>
        <div>
          Registered after
          <%#= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
        </div>
        <div>
          Sorted by
          <%#= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
        </div>
        <div>
          <%= link_to( 'Reset filters', reset_filterrific_url, ) %>
        </div>
        <%# add an automated spinner to your form when the list is refreshed %>
        <%= render_filterrific_spinner %><% end %>
      <%= render( partial: 'nota_por_cursos/list', locals: { nota_por_cursos: @nota_por_cursos } ) %>
      <%= link_to('Inserir Nota', new_nota_por_curso_path,:class => "w3-button w3-hover-white") %>
    </div>
  </body>
</html>
