<p id="notice"><%= notice %></p>

<h1>Performance - ENADE</h1>

<table>
  <thead>
    <tr>
      <th>Faculdade</th>
      <th>Curso</th>
      <th>Nota Geral</th>
      <th>Nota por Curso</th>
      <th>Media alunos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nota_por_cursos.each do |nota_por_curso| %>
      <tr>
        <td><%= link_to nota_por_curso.faculdade.nome, edit_faculdade_path(nota_por_curso.faculdade) %></td>
        <td><%= link_to nota_por_curso.curso.nome_do_curso, edit_curso_path(nota_por_curso.curso) %></td>
        <td><%= nota_por_curso.faculdade.nota %></td>
        <td><%= nota_por_curso.nota %></td>
        <td><%= nota_por_curso.media_alunos %></td>
        <td><%= link_to 'Editar', edit_nota_por_curso_path(nota_por_curso) %></td>
        <td><%= link_to 'Deletar', nota_por_curso, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<table>
  <thead>
    <tr>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to 'Cadastrar Faculdade', new_faculdade_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to 'Cadastrar Curso', new_curso_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to 'Cadastrar Notas', new_nota_por_curso_path %>
      </td>
    </tr>
  </tbody>
</table>
