<%= form_with(model: faculdade, local: true) do |form| %>
  <% if faculdade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faculdade.errors.count, "erro") %> no cadastro da faculdade:</h2>
      <ul>
        <% faculdade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field-div">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :faculdade_nome %>
  </div>
  <div class="field-div">
    <%= form.label :nota %>
    <%= form.text_field :nota, id: :faculdade_nota %>
  </div>
  <div class="actions" style="margin-top:30px;margin-left:10px">
    <%= form.submit("Cadastrar Faculdade",{:class=>"w3-button w3-block w3-red w3-hover-dark-red w3-form-submit-btn"})%>
  </div>
<% end %>
