<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @faculdade.nome %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @faculdade.nota %>
</p>

<%= link_to 'Edit', edit_faculdade_path(@faculdade) %> |
<%= link_to 'Back', faculdades_path %>
